<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>GoPGWeb</title>

    <link rel="stylesheet" href="/static/materialize/1.0.0-beta/css/materialize.min.css">
  </head>

  <body>

    <div class="container-fluid">
      <nav>
        <div class="nav-wrapper teal lighten-2">
          <a href="/" class="brand-logo">
            <span>&nbsp;</span> GoPGWeb
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://github.com/sayanarijit/gopassgen">GitHub</a></li>
          </ul>
        </div>
      </nav>

      <p>&nbsp;</p>

      <div class="row">

        <div class="col s2">&nbsp;</div>

        <form class="col s8" id="generate" action="/api/generate">

          <div class="row">
            <div class="input-field col l4 m6">
              <input id="MaxLength" name="MaxLength" type="number" class="validate" placeholder="16">
              <label for="MaxLength">Maximum password length</label>
            </div>
            <div class="input-field col l4 m6">
              <input id="MinLength" name="MinLength" type="number" class="validate" placeholder="6">
              <label for="MinLength">Minimum password length</label>
            </div>
            <div class="input-field col l4 m6">
              <input id="MinCapsAlpha" name="MinCapsAlpha" type="number" class="validate">
              <label for="MinCapsAlpha">Minimum capital letters</label>
            </div>
            <div class="input-field col l4 m6">
              <input id="MinSmallAlpha" name="MinSmallAlpha" type="number" class="validate">
              <label for="MinSmallAlpha">Minimum small letters</label>
            </div>
            <div class="input-field col l4 m6">
              <input id="MinDigits" name="MinDigits" type="number" class="validate">
              <label for="MinDigits">Minimum digits</label>
            </div>
            <div class="input-field col l4 m6">
              <input id="MinSpclChars" name="MinSpclChars" type="number" class="validate">
              <label for="MinSpclChars">Minimum special characters</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col l6">
              <input id="CapsAlphaPool" name="CapsAlphaPool" type="text" class="validate" placeholder="ABCDEFGHIJKLMNOPQRSTUVWXYZ">
              <label for="CapsAlphaPool">Permitted capital letters</label>
            </div>
            <div class="input-field col l6">
              <input id="SmallAlphaPool" name="SmallAlphaPool" type="text" class="validate" placeholder="abcdefghijklmnopqrstuvwxyz">
              <label for="SmallAlphaPool">Permitted capital letters</label>
            </div>
            <div class="input-field col l6">
              <input id="DigitPool" name="DigitPool" type="text" class="validate" placeholder="0123456789">
              <label for="DigitPool">Permitted digits</label>
            </div>
            <div class="input-field col l6">
              <input id="SpclCharPool" name="SpclCharPool" type="text" class="validate" placeholder="!@#$%^&*()-_=+,.?/:;{}[]~">
              <label for="SpclCharPool">Permitted special characters</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col l3 m4 s5">
              <button class="btn btn-large waves-effect waves-light" type="submit">GO</button>
            </div>
            <div class="input-field col l9 m8 s7 grey lighten-3 z-depth-2">
              <pre class="center" id="password" style="overflow:auto">&nbsp;</pre>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="apilink" disabled />
            </div>
          </div>
        </form>

        <div class="col s2">&nbsp;</div>
      </div>
    </div>

    <script src="/static/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/static/jquery/3.3.1/jquery.min.js"></script>

    <script>
      $(document).ready(()=>{
        generate()
        $("#generate").on("submit", e => {
          e.preventDefault()
          generate()
        })
      })

      function generate() {
        data = {}

        $("#MaxLength").val() && (data.MaxLength = $("#MaxLength").val())
        $("#MinLength").val() && (data.MinLength = $("#MinLength").val())
        $("#MinCapsAlpha").val() && (data.MinCapsAlpha = $("#MinCapsAlpha").val())
        $("#MinSmallAlpha").val() && (data.MinSmallAlpha = $("#MinSmallAlpha").val())
        $("#MinDigits").val() && (data.MinDigits = $("#MinDigits").val())
        $("#MinSpclChars").val() && (data.MinSpclChars = $("#MinSpclChars").val())
        $("#CapsAlphaPool").val() && (data.CapsAlphaPool = $("#CapsAlphaPool").val())
        $("#SmallAlphaPool").val() && (data.SmallAlphaPool = $("#SmallAlphaPool").val())
        $("#DigitPool").val() && (data.DigitPool = $("#DigitPool").val())
        $("#SpclCharPool").val() && (data.SpclCharPool = $("#SpclCharPool").val())        

        url = window.location.href + "api/generate"
        Object.keys(data).length > 0 && (url += "?" + $.param(data))

        $("#apilink").val(url)
        $.post(url).done(resp => {
          $("#password").text(resp.result)
        })
      }
    </script>

  </body>
</html>